<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
</head>

<body>
  <h1 style="color: blue">WeWe Code</h1>

  <p>Here are some peer projects you can join!</p>
  
  <div>
  {% for project in projects %}
    
    <a href="{{project.link}}"><div>{{project.title}}</div></a>
    <div>
      {% if project.peernum == 1 %}
      Join {{project.peernum}} peer. Capped at {{project.peerlimit}} 
      {% else %}
      Join {{project.peernum}} peers. Capped at {{project.peerlimit}}
      {% endif %}
    </div>

    <div>
      {{project.description}}
    </div>
    <br/>
    
    
  {% endfor %}
  </div>
</body>

</html>